name: Build macOS Client

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      
    - name: Clone CEF Dependencies
      run: git clone https://github.com/nomi-san/cef-include -b 91.1.22-mac include

    - name: Compile Directly (No Makefile)
      run: |
        # This command finds every source file recursively and compiles it into the dylib.
        # -undefined dynamic_lookup: This is the magic flag that ignores the missing Game files.
        
        clang++ -arch x86_64 -shared -std=c++17 -fPIC \
          -undefined dynamic_lookup \
          -I./ -I./include \
          -framework Cocoa -framework AppKit \
          -o core.dylib \
          $(find src -name "*.cc") \
          $(find src -name "*.mm")

    - name: Archive Production Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: pengu-mac-client
        path: core.dylib
